body {
    background-color: #101218;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

p, h1, h2, h3, label {
    color: rgba(255, 255, 255, 0.678);
}

p {
    font-size: 100%;
}

h1 {
    
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 20px;
}

img {
    width: 600px;
    display: block;
    margin: 0;
}

input, input[type="text2"] {
    background-color: #13151d;
    border: 1px solid #1f1a24;
    color: rgba(255, 255, 255, 0.678);
    
    box-sizing: border-box;
}

input {
    padding: 8px;
    width: 20%;
}

input[type="text2"] {
    padding: 40px;
    width: 80%;
}

input[type="button"] {
    background-color: #484c5e;
    border: 1px solid #1f1a24;
    color: rgba(233, 233, 233, 0.678);
    cursor: pointer;
    width: auto;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #1f1a24;
    box-sizing: border-box;
}
header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 20%;
    padding: 20px;
    background-color: #101218;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(255, 255, 255, 0.678);
}
rodape {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 5.5%;
    padding: 20px;
    background-color: #1f1a24;
    box-sizing: border-box;
}